DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"
PORT=4173
NODEODM_URL="http://127.0.0.1:3002"
NODEODM_PORT=3002
STORAGE_DIR="storage"
