DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"
PORT=4173
NODEODM_URL="http://localhost:3001"
NODEODM_PORT=3001
STORAGE_DIR="storage"
